/*@import url(https://fr.allfont.net/allfont.css?fonts=renaissance-regular);*/
@font-face {
    font-family: 'Renaissance-Regular';
    src: url("fonts/renaissance.woff") format('woff');
}
.wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center; 
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
    text-align: left;
  /*background: tomato;*/
}

.footer {
  /*background: lightgreen;*/
}

.main {
  text-align: left;
  /*background: deepskyblue;*/
}

.aside-1 {
  
  /*background: gold;*/
}

.aside-2 {
  /*background: hotpink;*/
}

@media all and (min-width: 600px) {
  .aside { flex: 1.5 0 0; }
    html { 
  background: url(images/wallpaper.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
    

    
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; } 
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
    html { 
  background: url(images/wallpaper.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
    .styled:hover {
    background-color: rgba(255, 0, 0, 1);
}
    table {
  width: 80%;
  height : 20%;
  font-family: 'Renaissance-Regular', arial;
  
  /*padding: 2 10px;*/
  margin-left: 1em;
    font-size: 1.9em;
  font-weight: bold;
  
}



}

@media only screen and (max-width: 768px) {
    .wrapper > * {
  padding: 1px;
}
  .header {font-size: 0.4em; text-align: center; flex: 1 }
   /*.main    { flex: 0.5 0 0 0; }*/
  .aside-1 { order: 1; } 
  .main    { order: 2; text-align: right; height:20%}
  .aside-2 { order: 3; }
  .footer  { order: 4; }
    .svgpie{ width: 80%; height: 80%;}
    
/*table {
  width: 100%;
}*/
html{
    background: url(images/wallpaper-mobile.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
    table {
  width: 90%;
  height : 10%;
  font-family: 'Renaissance-Regular', arial;
  
  /*padding: 2 10px;*/
  margin-left: 1em;
    font-size: 1.4em;
  font-weight: bold;
  
}

}







/*html { font-size: 100%;}*/

h1{
	font-size:4em;
	color: black;
	font-family: 'Renaissance-Regular', arial;
}
/*

html { 
  background: url(images/wallpaper.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/







caption {
    padding: 1em;
}
.de_input{
    font-weight: bold;
}
.resultats{
    font-weight: bold;
}




.french {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1.1rem;
    text-align: center;
    color: #FF6600;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: #3399FF;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.prussian {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1.1rem;
    text-align: center;
    color: #FF6600;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: #888888;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}



