/*@import url(https://fr.allfont.net/allfont.css?fonts=renaissance-regular);*/
@font-face {
    font-family: 'Renaissance-Regular';
    src: url("fonts/renaissance.woff") format('woff');
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
}
html { font-size: 100%;}

h1{
	font-size:4em;
	color: black;
	font-family: 'Renaissance-Regular', arial;
}


html { 
  background: url(images/wallpaper.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



.panel{
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 95%;
    width: 90%;
        
}


.unite{
    border-spacing : 0;
    border-collapse : collapse;
}

table {
  width: 80%;
  height : 45%;
  font-family: 'Renaissance-Regular', arial;
  
  /*padding: 2 10px;*/
  margin-left: 1em;
    font-size: 1.4em;
  font-weight: bold;
  
}
caption {
    padding: 1em;
}
.de_input{
    font-weight: bold;
}
.resultats{
    font-weight: bold;
}




.french {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1.1rem;
    text-align: center;
    color: #FF6600;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: #3399FF;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.prussian {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1.1rem;
    text-align: center;
    color: #FF6600;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: #888888;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: rgba(255, 0, 0, 1);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}


